<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="login-form">
  <h1 th:text="${welcome}"></h1>
  <br>
  <p>
    Min rapport om Springboot 5.
    <br>
    <br>
    Nam at lectus in nibh vehicula lacinia a vel sem. Phasellus ornare consequat libero eu
    porttitor. Praesent venenatis, ante cursus tempor dignissim, enim libero bibendum ante,
    quis accumsan sapien eros a justo. Phasellus libero leo, molestie ac sollicitudin ut,
    posuere eleifend mauris. Etiam sodales neque odio, eget tempor elit fermentum non. Quisque
    iaculis magna in sapien pulvinar pellentesque eget id lacus. Etiam aliquet, nisi sit amet
    pulvinar finibus, metus augue sagittis quam, lobortis gravida orci dolor ac sapien.
    Maecenas finibus bibendum nisi sit amet fermentum. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Curabitur accumsan odio at velit lacinia, sed posuere massa suscipit.
    Mauris malesuada lorem at interdum consectetur.
  </p>
</div>
</body>
</html>