<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link th:href="@{/css/default.css}" rel="stylesheet" />
</head>
<body>
<form method="post">

  <label>User name</label><input type="text" name="username">
  <br>
  <label>First name</label><input type="text" name="firstname">
  <br>
  <label>Last name</label><input type="text" name="lastname">
  <br>
  <label>Password</label><input type="text" name="password">
  <br>
  <label>Email</label><input type="text" name="email">
  <br>
  <button type="submit">Register</button>
</form>

</body>
</html>